.h1-new-review{
  display: flex;
  justify-content: center;
}

.new-review{
  font-weight: bold;
  font-size: 50;
  margin: 20px;
  padding: 20px;
  color: gray;
}

.new-review-form-parent{
  display: flex;
  justify-content: center;
}

.form-parent{
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}
